@import "@sass/abstracts/vars";
@import "@sass/abstracts/mixins";

.hide-title{
    .first-headline,.second-headline,.third-headline{
        display: none;
    }
}

.promo {
    &.small-icon{
        .component-content{
            display: flex;
        }
        .field-promoicon{
            max-width: 50px;
        }
        .promo-text{
            width: -webkit-fill-available;
            color: black;
            font-size: var(--bs-body-font-size);
        }
    }

    &.promo-highlight{
        .component-content{
            background-color: white;
        }
        .promo-text{
            padding: 15px;
        }
        .field-promotext{
            //padding: 15px;
            color: black;
            font-size: var(--bs-body-font-size);
            h2{
                font-size: 22px;
                font-weight: 600;
            }
        }
    }

    background: transparent;
    overflow: hidden;
    color: #84909d;
    font-size: 13px;
    box-sizing: border-box;
    >.component-content {
        position: relative;
    }
    .zg-height-fix {
        .field-promoicon {
            margin-top: 100px;
        }
    }
    .field-promoicon {
        overflow: hidden;
        width: 100%;
        img {
            width: 100%;
            height: auto;
            max-width: -webkit-fill-available;
        }
    }
    .field-promolink {
        margin-top: 5px;
        padding-bottom: 10px;
        font-size: var(--bs-body-font-size);
        a{
            text-decoration: none;
            color: #376eb4;
        }
    }
    &.image-full-size {
        img {
            margin-bottom: 10px;
        }
    }
    @import "@sass/variants/promo";
    @import "@sass/base/richtext/richtext";
}
