<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
     <setting name="LayoutService.DetailedRenderingParams" value="false">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
    <linkManager>
      <providers>
       <add name="myProvider" type="Sitecore.XA.Foundation.Multisite.LinkManagers.LocalizableLinkProvider, Sitecore.XA.Foundation.Multisite" cacheExpiration="5" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="never" languageLocation="filePath" shortenUrls="true" useDisplayName="false"/>
       <add name="localizedProvider" />
            <patch:attribute name="useDisplayName">true</patch:attribute>
        </add>
      </providers>
    </linkManager>
    <links>
        <urlBuilder>
            <useDisplayName>true</useDisplayName>
        </urlBuilder>
    </links>
  </sitecore>
</configuration>