<?xml version="1.0"?>

<linkManager defaultProvider="switchableLinkProvider">
  <providers>
    <add name="localizedProvider">
      <patch:attribute name="useDisplayName">true</patch:attribute>
      <patch:attribute name="lowercaseUrls">true</patch:attribute>
    </add>
    <!--CS0369984: the name of provider(sitemapLinkProvider) should be specified on the sitemap item -->
    <add name="sitemapLinkProvider" type="Sitecore.XA.Foundation.Multisite.LinkManagers.LocalizableLinkProvider, Sitecore.XA.Foundation.Multisite"
      cacheExpiration="5" addAspxExtension="false" alwaysIncludeServerUrl="true"
      encodeNames="true" languageEmbedding="always" languageLocation="filePath"
      lowercaseUrls="true" shortenUrls="true" useDisplayName="true"/>
  </providers>
</linkManager>

