.BlueTile{
    a{
        color: black!important;
    }
    .text-dark{
        color: white!important;
    }
    .xmc-teaser-header{
        color: white!important;
    }
    
}

.DarkgreyTile{
    a{
        color: black!important;
    }
    .text-dark{
        color: white!important;
    }
    .xmc-teaser-header{
        color: white!important;
    }
    
}

.BlackTile{
    .text-dark{
        color: white!important;
    }
}